
<h1>Home Component</h1>
<div class="play-container">

    <p>you'vd clicked <span (click)="countClick()">this</span> {{ clickCounter }} time's</p>
</div>

<div class="play-container">
    <p>
       <input type="text" [(ngModel)]="name">
        <br>
        <strong>your Name: </strong> {{ name }}
    </p>
</div>

<!-- <div class="play-container" [style.background-color]="clickCounter >= 4 ? 'red' : 'lightgray'">-->
 <div class="play-container" [ngClass]="setClasses()">
   <!--this like if else-->
    <ng-template [ngIf]="clickCounter >= 4" [ngIfElse]="none">
        <p>clickCounter is <strong>grater than </strong> 4</p>
    </ng-template>
    <ng-template [ngIf]="clickCounter > 8" #lessE>
        <p>clickCounter is <strong>grater than </strong> 8</p>
    </ng-template>
    <ng-template #none>
            <p>countClick is <strong>less than </strong> 4</p>
    </ng-template>
</div>